.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
.idea
/logs
/database/liquibase.properties

modules/app/src/main/resources/application.properties
modules/api/src/main/resources/application.properties
